@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.contenedor{
    max-width: 100%;
}

#reader{
    max-width: 1200px!important;
}
#reader #reader__scan_region{
    display: flex;
    flex-direction: column;
    align-items: center;
    }


@media(width <= 768px){
    #reader{
        max-width: 100%!important;
    }

    #reader #reader__dashboard_section #reader__dashboard_section_csr{
        display: flex!important;
        gap: 45px;
    }
}
#reader #reader__dashboard_section #reader__dashboard_section_csr,
#reader #reader__dashboard_section #html5-qrcode-anchor-scan-type-change{
    font-size: 18px;
    font-weight: 600;
    color: #04349c;    
}
#reader #reader__dashboard_section #reader__dashboard_section_csr{
    padding: 30px 0;
    border-top:2px dashed #04349c;
    border-bottom:2px dashed #04349c;
}

#reader #reader__dashboard_section #reader__dashboard_section_csr #html5-qrcode-select-camera{
    background-color: #f9fafb; 
    border: 1px solid #d1d5db; 
    color: #111827; 
    font-size: 1px; 
    border-radius: 0.3rem; 
    width: 80%; 
    padding: 13px; 
    box-sizing: border-box;
}

#reader #reader__dashboard_section #reader__dashboard_section_csr #html5-qrcode-select-camera:focus{
    outline: none;
    border-color: #3b82f6; 
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); 
}


#reader #reader__dashboard_section #reader__dashboard_section_csr #html5-qrcode-select-camera 

#reader #reader__dashboard_section #reader__dashboard_section_csr #html5-qrcode-button-camera-start,
#reader #reader__dashboard_section #reader__dashboard_section_csr #html5-qrcode-button-camera-stop{
    padding: 15px!important;
    background-color: #04349c!important;
    color: #ffff;
    width: 90%;
}

#reader #reader__dashboard_section #html5-qrcode-anchor-scan-type-change{
    padding: 30px 0;
    display: block;
    width: 100%;
    border-bottom:2px dashed #04349c;
}

#scan-counter {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

#scan-counter button {
    display: flex;
    align-items: center;
    background-color: #3b82f6; /* color azul */
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#scan-counter button:hover {
    background-color: #2563eb; /* Cambia a un azul más oscuro al hacer hover */
}

#scan-counter i {
    font-size: 20px;
    margin-right: 10px;
}


@media (width <= 600px ){
    #reader #reader__dashboard_section #reader__dashboard_section_csr{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    
}