@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

#reader{
    max-width: 1200px!important;
}

#reader #reader__scan_region{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(width <= 768px){
    #reader{
        max-width: 100%!important;
    }
}